
@{
    ViewBag.Title = "Country";
}

<h2>@ViewBag.Country.names.name</h2>
<p><strong>Timezone :</strong> @ViewBag.Country.timezone.name</p>

<p><strong>Langues :</strong></p>
<ul>
    @foreach (var language in ViewBag.Country["language"])
    {
        <li>@language.language</li>
    }
</ul>

<p><strong>Electricité (voltage) :</strong> @ViewBag.Country.electricity.voltage</p>
<p><strong>Electricité (frequency) :</strong> @ViewBag.Country.electricity.frequency</p>

<p><strong>Téléphone (préfixe) :</strong> +@ViewBag.Country.telephone.calling_code</p>
<p><strong>Téléphone police :</strong> +@ViewBag.Country.telephone.police</p>
<p><strong>Téléphone ambulance :</strong> +@ViewBag.Country.telephone.ambulance</p>
<p><strong>Téléphone pompier:</strong> +@ViewBag.Country.telephone.fire</p>

<p><strong>Vaccinations :</strong></p>
@if (ViewBag.Country["vaccinations"].Count == 0)
{
    <p>Pas de vaccination requise.</p>
}
else
{
    <ul>
        @foreach (var vaccination in ViewBag.Country["vaccinations"])
        {
            <li>@vaccination.name</li>
        }
    </ul>
}

<p><strong>Monnaie :</strong> @ViewBag.Country.currency.name</p>